nav.nav {
    background-color: #f3f0f0;
    margin-bottom: 20px;
    padding-right: 0;
}

nav.nav .nav-link.active {
    background-color: #848484;
}

.me {
    color: orange;
}

button {
    cursor: pointer;
}

#main_content {
    min-height: calc(100vh - 40px);
}
footer {
    font-size: small;
}