{% extends "talkShow/base.html" %}

{% block title %}My subjects{% endblock %}

{% block content %}
<div id="my_subjects" class="container">
    <div class="col-6 offset-3">
        <h1 class="text-center">My subjects</h1>
        <div class="helper">
            {% csrf_token %}
            <input type="hidden" name="endpoint" value="{% url 'talkShow:edit_subject' %}">
        </div>

        <ul>
            {% for subject in subjects %}
                {% include './partials/subject_item.html' with subject=subject %}
            {% endfor %}
        </ul>

        {% if allow_add_new %}
        <div class="add_block">
            <button type="button" class="edit_subject btn btn-default">Add subject for this week</button>
            <input class="form-control change d-none" placeholder="New subject">
        </div>
        {% endif %}

        <span id="error" class="text-danger"></span>
    </div>
</div>
{% endblock content %}
