{% extends "talkShow/base.html" %}

{% block title %}Subjects this week{% endblock %}

{% block content %}
<div id="overview" class="container">
    <h1>Subjects for this week</h1>

    <ul>
    {% for user in users %}
        <li>
            {{ user.display_name }}:
            {% if user.current_subject %}
                <span class="text-success">{{ user.current_subject.subject }}</span>
            {% else %}
                <span class="text-danger">Missing</span>
            {% endif %}
        </li>
    {% endfor %}
    </ul>

    {% if error %}
    <div class="alert alert-danger">{{error}}</div>
    {% endif %}

    {% if can_match %}
    <form method="post">
        {% csrf_token %}
        <div class="row form-group col-5">
            <label for="date">Talk show date:</label>
            <input type="text" name="date" id="date" class="form-control">
        </div>

        <div class="row">
            {% for match in "1234" %}
            <div class="col-3">
                <div class="form-group">
                    <select id="user_x{{forloop.counter}}" name="user[]" class="form-control presenter">
                        <option value="0">--Presenter--</option>
                        {% for user in users %}
                        <option value="{{user.id}}" class="presenter presenter_{{user.id}}">{{user.display_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <select id="subject_x{{forloop.counter}}" name="subject[]" class="form-control subject">
                        <option value="0">--Subject--</option>
                        {% for user in users %}
                        <option value="{{user.current_subject.id}}" class="subject subject_{{user.current_subject.id}}">
                            {{user.current_subject.subject}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-success">Match</button>
    </form>
    {% else %}
        All users must have their own subjects before make a match.
    {% endif %}
</div>
{% endblock content %}